<section class="container mx-auto">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Dinning</h1>

    <!-- Clips List -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/dining/0O2A2321-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            FLEMENS Dining Table + 6 Cora Chairs
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit; 6 &#183; 
            <span class="text-gray-400">700 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/dining/0O2A2287-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            FURION Glass Top Dining Table + 6 Meg Chairs
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 4 &#183; 
            <span class="text-gray-400">800 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/dining/0O2A2245-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            HILLARY Dining Table + 6 Bissam Chairs
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 10 &#183; 
            <span class="text-gray-400">700 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/dining/0O2A0349-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            OREGON Dining Table + 6 Zania Chairs
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 20 &#183; 
            <span class="text-gray-400">400 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/dining/0O2A0273-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            GLACJUM Sideboard with Drawers
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 20 &#183; 
            <span class="text-gray-400">250 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/dining/0O2A0131-e1718890104713-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            GORDON Bar Chair
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit; 100 &#183; 
            <span class="text-gray-400">200 USD</span>
          </p>
  
        </div>
  
      </a>
    </div>
  </section>
  <app-footer></app-footer>
