<section class="container mx-auto">
    <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Sofa</h1>

    <!-- Clips List -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/sofa/0O2A9168-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            FLORENCE 7 Seater Fabric Recliner Sofa (3+2+1+1)
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Units : 5 &#183; 
            <span class="text-gray-400">800 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/sofa/0O2A7482.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            LONDON Fabric Corner Sofa
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 10 &#183; 
            <span class="text-gray-400">700 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/sofa/0O2A3560-e1708163165956-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            OASIS Fabric Corner Sofa
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 5 &#183; 
            <span class="text-gray-400">600 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/sofa/0O2A2613-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            PEYTON Fabric Corner Sofa
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 12 &#183; 
            <span class="text-gray-400">500 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/sofa/0O2A0856-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            HESTER Home Theatre Corner Sofa
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 6 &#183; 
            <span class="text-gray-400">900 USD</span>
          </p>
  
        </div>
  
      </a>
      <a href="#"
        class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">
  
        <!-- Image -->
        <img class="card-img-top rounded-tl-2xl w-full" src="assets/sofa/0O2A0554-800x533.jpg">
  
        <!-- Shape -->
        <div class="relative">
          <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
            <div class="absolute bottom-full w-full pb-5 overflow-hidden">
              <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
                style="transform-origin: top center; transform: scale(2);">
                <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
              </svg>
            </div>
          </div>
        </div>
  
        <!-- Body -->
        <div class="p-8">
  
          <!-- Heading -->
          <h2 class="text-3xl mb-2">
            GABRIELLA Fabric Corner Sofa + Ottoman
          </h2>

          <!-- Name & Date -->
          <p class="mb-0">
            Available Unit: 4 &#183; 
            <span class="text-gray-400">900 USD</span>
          </p>
  
        </div>
  
      </a>
    </div>
  </section>
  
  <app-footer></app-footer>
